//Variables
$github: url(../img/github-logo.png);
$instagram: url(../img/instagram-logo.png);
$linkedIn: url(../img/linkedin.png);
$facebook: url(../img/facebook-logo-button.png);
$portfolio: url(../img/resume.png);