/* Eric Zorn */


//Imports
@import "socialIcons";


//Variables
$black: black;
$white: white;
$yellow: #ffd953;
$lightBlack: #1F1F1F;
$personalImage: url(../img/EricZorn2017.png);
$gradient: linear-gradient(46deg, rgba(255,217,83,0.87) 0%, rgba(254,216,83,0.20) 0%, rgba(184,150,68,0.58) 0%, rgba(175,143,67,0.53) 8%, rgba(174,142,67,0.52) 9%, rgba(140,113,65,0.60) 17%, rgba(140,113,65,0.55) 42%, rgba(135,109,65,0.55) 47%, rgba(89,70,62,0.92) 91%, #4F3D3D 100%);

body {
  margin: 0;
}

.container-fluid {
  margin-left: 0;
  padding-left: 0;
}


.left-image {
  background-image: $gradient, $personalImage;
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
  //position: fixed;
}

.socialIcons {
  width: 100%;
  height: auto;
  position: relative;
  left: 30%;

  a {
    margin-right: 20px;
  }


  img {
    display: inline-block;
    padding-top: 78%;
  }
}

.nameWrapper {
  width: 100%;

  h1 {
    margin: 0;
  }

  .name {
    color: $white;
    padding-top: 3%;
    padding-left: 8%;
    font-size: 28px;
    position: relative;
  }

  .nameSecondary {
    color: $white;
    font-weight: 300;
    left: 30%;
  }

  .nameInfoWrap {
    margin-top: 4%;
    left: 27%;
    position: relative;
  }
}



// Right Image
.right-image {
  background-color: $lightBlack;
  width: 50%;
  height: 100%;
  margin: 0;
  float: left;
}

.infoContainer {
  width: 90%;

  .topicHeader {
    color: $yellow;
    font-size: 40px;
    font-weight: 800;
    padding-left: 5%;
  }

  .resume-info {
    color: $white;
    font-weight: 25px;
    padding-left: 10%;
  }

}
